target/trabalhoarduo.jar
target/trabalhoarduo-swarm.jar
target/swarm-56790604478158664-cp.txt
target/swarm-1473964770373933984-cp.txt
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/br.com.mfelipesp/trabalhoarduo/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/br.com.mfelipesp/trabalhoarduo/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/demo/index.jsp
target/demo/WEB-INF/lib/xnio-nio-3.3.6.Final.jar
target/demo/WEB-INF/lib/xnio-api-3.3.6.Final.jar
target/demo/WEB-INF/lib/validation-api-1.1.0.Final.jar
target/demo/WEB-INF/lib/undertow-servlet-1.4.11.Final.jar
target/demo/WEB-INF/lib/undertow-core-1.4.11.Final.jar
target/demo/WEB-INF/lib/undertow-2017.9.4.jar
target/demo/WEB-INF/lib/transactions-2017.9.4.jar
target/demo/WEB-INF/lib/spi-2017.9.4.jar
target/demo/WEB-INF/lib/snakeyaml-1.17.jar
target/demo/WEB-INF/lib/shrinkwrap-spi-1.2.6.jar
target/demo/WEB-INF/lib/shrinkwrap-impl-base-1.2.6.jar
target/demo/WEB-INF/lib/shrinkwrap-descriptors-spi-2.0.0.jar
target/demo/WEB-INF/lib/shrinkwrap-descriptors-impl-jboss-2.0.0.jar
target/demo/WEB-INF/lib/shrinkwrap-descriptors-impl-javaee-2.0.0.jar
target/demo/WEB-INF/lib/shrinkwrap-descriptors-impl-base-2.0.0.jar
target/demo/WEB-INF/lib/shrinkwrap-descriptors-api-jboss-2.0.0.jar
target/demo/WEB-INF/lib/shrinkwrap-descriptors-api-javaee-2.0.0.jar
target/demo/WEB-INF/lib/shrinkwrap-descriptors-api-base-2.0.0.jar
target/demo/WEB-INF/lib/shrinkwrap-api-1.2.6.jar
target/demo/WEB-INF/lib/request-controller-2017.9.4.jar
target/demo/WEB-INF/lib/openjdk-orb-8.0.4.Final.jar
target/demo/WEB-INF/lib/narayana-jts-idlj-5.3.3.Final.jar
target/demo/WEB-INF/lib/naming-2017.9.4.jar
target/demo/WEB-INF/lib/meta-spi-2017.9.4.jar
target/demo/WEB-INF/lib/logging-2017.9.4.jar
target/demo/WEB-INF/lib/jca-2017.9.4.jar
target/demo/WEB-INF/lib/jboss-websocket-api_1.1_spec-1.1.1.Final.jar
target/demo/WEB-INF/lib/jboss-transaction-api_1.2_spec-1.0.0.Final.jar
target/demo/WEB-INF/lib/jboss-servlet-api_3.1_spec-1.0.0.Final.jar
target/demo/WEB-INF/lib/jboss-modules-1.5.2.Final.jar
target/demo/WEB-INF/lib/jboss-logging-3.3.0.Final.jar
target/demo/WEB-INF/lib/jboss-jaxrs-api_2.0_spec-1.0.0.Final.jar
target/demo/WEB-INF/lib/jboss-interceptors-api_1.2_spec-1.0.0.Final.jar
target/demo/WEB-INF/lib/jboss-el-api_3.0_spec-1.0.7.Final.jar
target/demo/WEB-INF/lib/jboss-ejb3-ext-api-2.2.0.Final.jar
target/demo/WEB-INF/lib/jboss-ejb-api_3.2_spec-1.0.0.Final.jar
target/demo/WEB-INF/lib/jboss-connector-api_1.7_spec-1.0.0.Final.jar
target/demo/WEB-INF/lib/jboss-concurrency-api_1.0_spec-1.0.0.Final.jar
target/demo/WEB-INF/lib/jboss-annotations-api_1.2_spec-1.0.0.Final.jar
target/demo/WEB-INF/lib/jaxrs-cdi-2017.9.4.jar
target/demo/WEB-INF/lib/jaxrs-2017.9.4.jar
target/demo/WEB-INF/lib/javax.inject-1.jar
target/demo/WEB-INF/lib/javax.el-impl-3.0.1-b08-jbossorg-1.jar
target/demo/WEB-INF/lib/jandex-2.0.2.Final.jar
target/demo/WEB-INF/lib/jackson-module-jaxb-annotations-2.7.4.jar
target/demo/WEB-INF/lib/jackson-jaxrs-json-provider-2.7.4.jar
target/demo/WEB-INF/lib/jackson-jaxrs-base-2.7.4.jar
target/demo/WEB-INF/lib/jackson-databind-2.7.4.jar
target/demo/WEB-INF/lib/jackson-annotations-2.7.4.jar
target/demo/WEB-INF/lib/io-2017.9.4.jar
target/demo/WEB-INF/lib/ejb-2017.9.4.jar
target/demo/WEB-INF/lib/ee-2017.9.4.jar
target/demo/WEB-INF/lib/container-2017.9.4.jar
target/demo/WEB-INF/lib/connector-2017.9.4.jar
target/demo/WEB-INF/lib/config-api-runtime-1.1.0.Final.jar
target/demo/WEB-INF/lib/config-api-1.1.0.Final.jar
target/demo/WEB-INF/lib/cdi-config-2017.9.4.jar
target/demo/WEB-INF/lib/cdi-api-1.2.jar
target/demo/WEB-INF/lib/cdi-2017.9.4.jar
target/demo/WEB-INF/lib/bootstrap-2017.9.4.jar
target/demo/WEB-INF/lib/bean-validation-2017.9.4.jar
target/demo/WEB-INF/lib/asm-all-5.0.4.jar
target/demo/WEB-INF/classes/br/com/mfelipesp/trabalhoarduo/rest/HelloWorldEndpoint.class
target/demo/WEB-INF/classes/br/com/mfelipesp/trabalhoarduo/app/MainApp.class
target/demo.war.original
target/demo.war
target/demo.jar
target/demo-swarm.jar
target/classes/br/com/mfelipesp/trabalhoarduo/rest/JaxRsActivator.class
target/classes/br/com/mfelipesp/trabalhoarduo/rest/HelloWorldRest.class
target/classes/br/com/mfelipesp/trabalhoarduo/app/MainApp.class
target/classes/META-INF/maven/br.com.mfelipesp/trabalhoarduo/pom.xml
target/classes/META-INF/maven/br.com.mfelipesp/trabalhoarduo/pom.properties
target/classes/META-INF/MANIFEST.MF
target/demo/WEB-INF/lib/jackson-core-2.7.4.jar
target/demo/WEB-INF/lib/security-2017.9.4.jar
target/swarm-6060922986721228116-cp.txt
